.idea
.vscode

checkpoint
dataloader/__pycache__
init_weights
logs
modeling/__pycache__
modeling/backbone/__pycache__
modeling/backbone/darknet/__pycache__
modeling/classification/__pycache__
modeling/detection/__pycache__
reference
result
tutorial
utils/__pycache__

todo.txt